/* Estilos CSS para a grelha */
.grid-container {
  display: grid;
  grid-template-columns: auto 1fr 300px; /* 1ª coluna para o header, 2ª coluna para o main, 3ª coluna para o side */
  grid-template-rows: auto 1fr; /* 1ª linha para o header, 2ª linha para o main */
  height: 100vh; /* Altura total da viewport */
  width: 100vw; /* Largura total da viewport */
}

.header {
  grid-column: 1 / span 3; /* Ocupa todas as colunas */
  grid-row: 1; /* Primeira linha */
  max-height: 100px;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.main {
  grid-column: 2; /* Segunda coluna */
  grid-row: 2; /* Segunda linha */
  background-color: #f0f0f0;
  padding: 20px;
}

.side {
  grid-column: 3; /* Terceira coluna */
  grid-row: 2; /* Segunda linha */
  max-width: 300px;
  background-color: #ccc;
  padding: 20px;
}
