.auth-container {
  background: #fff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 350px;
  min-width: 364px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input,
button {
  width: 90%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.sign-in-redirect,
.sign-in-link {
  color: #666;
  cursor: pointer;
}

.sign-in-link {
  margin-top: 2em;
  color: #007bff;
}

.subtitle {
  color: #666;
  margin-bottom: 60px;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-button {
  width: 90%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #4caf50;
  cursor: pointer;
}